# 5.5 Strings Index

In [5]:
fac = 'Faculty of Mathematics and Natural Science Udayana University'
note = 'Learning Python at Faculty of Mathematics and Natural Science Udayana University'
print("Faculty[0]: ", fac[0])
print("Note[1:4]: ", note[1:4])

Faculty[0]:  F
Note[1:4]:  ear

In [26]:
mystring = 'Python Easy'

In [27]:
print(mystring[1:4])

yth

In [28]:
print(mystring[3:4])

h

In [29]:
print(mystring[2:-6])

tho

In [35]:
print(mystring[2:-3:3])

tn

In [36]:
print(mystring[2:-2:3])

tna

In [37]:
print(mystring[2:-2:-1])

untuk indeks pertama, berjalan dari kiri
indeks kedua, berjalan dari kanan
indeks ketiga, loncatan dari hasil indeks pertama, indeks ketiga tidak bisa minus (-)
contoh :
mystring = 'Python Easy'
print(mystring[2:-3:3])
P    y   t  h  o  n     E  a  s  y
0    1   2  3  4  5  6  7  8  9  10
-11 -10 -9 -8 -7 -6 -5 -4 -3 -2  -1

maka, output menjadi
2 = n, -3 = a, 3 = meloncat dari indeks 2 sebanyak 3, yaitu n dan a, namun a tidak ikut karena indeks kedua

# 5.6 Strings Methods

In [63]:
judul = "Pluto is not a planet"
print(len(judul))

21

len digunakan untuk menghitung jumlah kata dan spasi

In [40]:
judul.upper()

'PLUTO IS NOT A PLANET'

upper untuk uppercase/membuat tulisan menjadi kapital

In [41]:
judul.lower()

'pluto is not a planet'

lower untuk lowercase/membuat tulisan menjadi huruf kecil

In [42]:
judul.find('planet')

15

In [50]:
judul.find('is')

6

python memiliki case sensitif,
ketika kata yang dicari tidak sesuai dengan data yang ada, 
maka akan menghasilkan -1

In [51]:
judul.find('IS')

-1

In [52]:
judul.find('PLuto')

-1

In [53]:
judul.find('PLUP')

-1

python memiliki case sensitif,
ketika kata yang dimasukkan tidak sesuai dengan data yang ada
maka, apapun inputnya tidak berjalan.

In [54]:
judul.replace('Pluto', 'Venus')

'Venus is not a planet'

In [55]:
judul.replace('pluto', 'Venus')

'Pluto is not a planet'

python memiliki case sensitif,
ketika kata yang dimasukkan tidak sesuai dengan data yang ada
termasuk perbedaan kapitalisasi
maka, apapun inputnya tidak berjalan.

In [57]:
print('planet' in judul)

True

In [58]:
print('Planet' in judul)

False

# 5.7 Operasi Matematika di Python

In [83]:
a = input("Masukkan nilai a:")
b = input("Masukkan nilai b:")

Masukkan nilai a:17
Masukkan nilai b:4

In [84]:
# Operator penjumlahan
print(float(a) + float(b))

# Operator pengurangan
print(float(a) - float(b))

# Operator perkalian
print(float(a) * float(b))

# Operator pembagian
print(float(a) / float(b))

# Operator pembulatan pembagian
print(float(a) // float(b))

# Operator sisa bagi/modulo
print(float(a) % float(b))

# Operator pangkat
print(float(a) ** float(b))

21.0
13.0
68.0
4.25
4.0
1.0
83521.0

In [98]:
#Augmented operator
x = 3
y = 2
z = 5
x+=6
y-=3
z*=2
print(x)
print(y)
print(z)

9
-1
10

# 5.8 Operator Perbandingan di Python

In [118]:
x = 2>4
print(x)
print(~x)

False
-1

In [117]:
x = 2<4
print(x)
print(~x)

True
-2

In [115]:
x = 2>=4
print(x)
print(~x)

False
-1

In [116]:
x = 2<=4
print(x)
print(~x)

True
-2

In [110]:
x = 2==4
print(x)
print(~x)

False
-1

In [112]:
x = 2!=4
print(x)
print(~x)

True
-2

# 5.9 Operator Logika di Python

In [122]:
starfruit = 7
mango = 4
print(starfruit > 8 and mango < 12)

False

In [123]:
print(starfruit > 8 or mango < 12)

True

In [125]:
print(starfruit < 8 or mango > 12)

True

In [126]:
print(not(starfruit > 8 and mango < 12))

True

# 5.10 Operator if di Python

In [128]:
grade = float(input("Your grade is "))
if grade >= 80:
    print("You got an A grade")
    print("Amazing, congratulation!")
if grade < 80 and grade >= 70:
    print("You got a B grade")
    print("Keep it up!")
if grade < 70 and grade >= 60:
    print("You got a C grade")
    print("Lets goo!")
if grade < 70 and grade >= 60:
    print("You got a D grade")
    print("Huft!")
if grade < 60 and grade >= 50:
    print("You got a E grade")
    print("Noo!")

Your grade is 55
You got a E grade
Noo!